.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: left;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
a.right1 {
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    right: 240px;
}
a.right {
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    right: 40px;
}
.right2 {
    font-size: 2em;
    position: absolute;
    top: 5px;
    right: 215px;
}

tr.spaceUnder > td
{
  padding-bottom: 2em;
}