{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <a class="right" href="/logout/">Welcome {{user.first_name}}, Logout ?</a>
<table style="width:100%" >
{% if message %}
{% else %}
	<tr class="home">
		<th style="text-align:center"><font size="4">Food Item</font></th>
	    <th style="text-align:center"><font size="4">Restaurant</font></th>
	    <th style="text-align:center"><font size="4">Status</font></th>
	    <th style="text-align:center"><font size="4">Quantity</font></th>
	    <th style="text-align:center"><font size="4">Price</font></th> 
	</tr>
	{% for c in cart%}
		<tr class="home">
			<td width="21%" style="text-align:center">{{c.0}}</td>
		    <td width="21%" style="text-align:center">{{c.1}}</td>
		    <td width="21%" style="text-align:center">{{c.4}}</td>
		    <td style="text-align:center" >{{c.3}}
		    <input class="btn btn-success" type="button" value="+" onclick = "location.href='{% url 'inc_count' pk=c.5 %}'" />
		    <input class="btn btn-success" type="button" value="-" onclick = "location.href='{% url 'dec_count' pk=c.5 %}'"/>
		    </td>
		    <td style="text-align:center">{{c.2}}</td> 
		</tr>
	{%endfor%}

		<tr class="home1">
			<td ></td>
		    <td ></td>
		    <td ></td>
		    <td style="text-align:center"><h4>Total Amount</h4></td>
		    <td style="text-align:center"><h4>{{total}}</h4></td> 
		</tr>
	{% endif %}
</table>
<div id = "chome_button">
	<input class="btn btn-success" type="button" value="Checkout" onclick = "location.href='{% url 'checkout' %}'"  />
	<input class="btn btn-success" type="button" value="Clear Cart" onclick = "location.href='{% url 'clear' %}'"  />
	<!-- &nbsp -->
	<!-- <br> -->
	<input class="btn btn-success" type="button" value="Current Orders" onclick = "location.href='{% url 'current_orders' %}'"  />
	<input class="btn btn-success" type="button" value="Order History" onclick = "location.href='{% url 'order_history_user' %}'"  />
</div>
<br/>
<!-- &nbsp -->
<div id = "container">
	<div id = "browse" class = "res_search">
	<h3>Select restaurant</h3>
		<div id = "ss_scroll_pane"class = "scroll_pane">
			<table style="width:100%">
			<tr>
				<th style="text-align:left"><font size="4">Restaurant Name</font></th>
				<th style="text-align:center"><font size="4">Rating</font></th>
			</tr>
			{% for rest in restaurants %}
				<tr>
				<td><h4 style="text-align:left"><a href="{% url 'rest_detail' pk=rest.pk %}">{{ rest.name }}</a></h4></td>
				<td><h4>    {{rest.rating|floatformat:2 }}</h4></td>
			    </tr>
			{% endfor %}
			    </tr>
			</table>
		</div>
	</div>
	<div id = "category" class = "res_search">
	<h3>Search by Category</h3>
		<div id = "search">
		<form id = "search_form" type="get" action="." style="margin: 10px">
		    <input  id="search_box" type="text" name="search_box"  placeholder="Browse by category..." >
		    <button id="search_submit" type="submit" >Submit</button>
		</form>
		
		</div>

		<div class = "scroll_pane">
		<table style="width:100%">
		{% if category_output %}
			<tr>
				<th style="text-align:left"><font size="4">Food Item</font></th>
				<th style="text-align:center"><font size="4">Cuisine</font></th>
				<th style="text-align:center"><font size="4">Price</font></th> 
			</tr>
			{% for item in category_output %}
				<tr>
			    <td style="text-align:left"><a href="{% url 'cart' pk=item.pk %}">{{ item.name }}</a></td>
			    <td>{{item.cuisine}}</td>
				<td>{{item.price}}</td>
			    </tr>
			{% endfor %}

		{% else %}
		<tr>
			<td>No item found !</td>
		</tr>
		{% endif %}
		</table>	
		</div>
	</div>
	<div id = "ssearch" class = "res_search">
	<h3>Search by Name</h3>	
		<div id = "search">
		<form  id = "search_form" type="get" action="." style="margin: 0">
		    <input  id="search_box" type="text" name="search_box1"  placeholder="Search..." >
		    <button id="search_submit" type="submit" >Submit</button>
		</form>

		</div>
		<div class = "scroll_pane">
		<table style="width:100%">
		{% if search_output %}
			<tr>
				<th style="text-align:left"><font size="4">Food Item</font></th>
				<th style="text-align:center"><font size="4">Cuisine</font></th>
				<th style="text-align:center"><font size="4">Price</font></th> 
			</tr>
			{% for item in search_output %}		
			<tr>
			    <td style="text-align:left"><a href="{% url 'cart' pk=item.pk %}">{{ item.name }}</a></td>
				<td>{{item.cuisine}}</td>
				<td>{{item.price}}</td>
			</tr>
			{% endfor %}
		{% else %}
		<tr>
			<td>No item found !</td>
		</tr>
		{% endif %}
		</table>
		</div>
	</div>
	<!-- <h3> Recommended </h3>
	<table>
	</table> -->
</div>
&nbsp &nbsp

{% endblock %}