{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<script>
    {% for msg in message %}alert('{{ msg }}');
    {%endfor%}
</script>
    <a class="right" href="/logout/">Welcome {{user.first_name}}, Logout ?</a>
<table style="width:100%" >
	<tr class="home">
		<th style="text-align:center"><font size="4">Food Item</font></th>
	    <th style="text-align:center"><font size="4">Restaurant</font></th>
	    <th style="text-align:center"><font size="4">Status</font></th>
	    <th style="text-align:center"><font size="4">Quantity</font></th>
	    <th style="text-align:center"><font size="4">Price</font></th> 
	</tr>
	{% for c in cart%}
		<tr class="home">
			<td width="21%" style="text-align:center">{{c.0}}</td>
		    <td width="21%" style="text-align:center">{{c.1}}</td>
		    <td width="21%" style="text-align:center">{{c.4}}</td>
		    <td style="text-align:center" >{{c.3}}
		    <input class="btn btn-success" type="button" value="+" onclick = "location.href='{% url 'inc_count' pk=c.5 %}'" />
		    <input class="btn btn-success" type="button" value="-" onclick = "location.href='{% url 'dec_count' pk=c.5 %}'"/>
		    </td>
		    <td style="text-align:center">{{c.2}}</td> 
		</tr>
	{%endfor%}

		<tr class="home1">
			<td ></td>
		    <td ></td>
		    <td ></td>
		    <td style="text-align:center"><h4>Total Amount</h4></td>
		    <td style="text-align:center"><h4>{{total}}</h4></td> 
		</tr>
</table>
<input class="btn btn-success" type="button" value="Checkout" onclick = "location.href='{% url 'checkout' %}'"  />
<input class="btn btn-success" type="button" value="Clear Cart" onclick = "location.href='{% url 'clear' %}'"  />
&nbsp
<br>
<input class="btn btn-success" type="button" value="Current Orders" onclick = "location.href='{% url 'current_orders' %}'"  />
<input class="btn btn-success" type="button" value="Order History" onclick = "location.href='{% url 'order_history_user' %}'"  />
<h3>Select restaurant</h3>
<table>
{% for rest in restaurants %}
	<tr>
	<h5><a href="{% url 'rest_detail' pk=rest.pk %}">{{ rest.name }}</a></h5>
    </tr>
{% endfor %}
    </tr>
</table>
&nbsp &nbsp
<form type="get" action="." style="margin: 0">
    <input  id="search_box" type="text" name="search_box"  placeholder="Browse by category..." >
    <button id="search_submit" type="submit" >Submit</button>
</form>
{% for item in category_output %}
        <td><a href="{% url 'cart' pk=item.pk %}">{{ item.name }}</a></td><br>

{% endfor %}
<form type="get" action="." style="margin: 0">
    <input  id="search_box1" type="text" name="search_box1"  placeholder="Search..." >
    <button id="search_submit" type="submit" >Submit</button>
</form>
{% for item in search_output %}
        <td><a href="{% url 'cart' pk=item.pk %}">{{ item.name }}</a></td><br>
{% endfor %}
{% endblock %}