{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <a class="right" href="/logout/">Welcome {{user.first_name}}, Logout ?</a>
    <h3>Customer name : {{user.first_name}} </h3>
    <h3>Order History : </h3>
    <table style="width:90%" >
	<tr>
		<th>Food Item</th>
	    <th>Restaurant Name</th>
	    <th>Status</th>
	    <th>Quantity</th>
	    <th>Price</th> 
	    <th>Add review</th>
	</tr>
	{% for c in orders%}
		<tr>
			<td>{{c.food}}</td>
		    <td>{{c.rest}}</td>
		    <td>{{c.status}}</td></td>
		    <td>{{c.quantity}}</td>
		    <td>{{c.food.price}}</td>
		    <td><a>link for review</a></td>
		</tr>
	{%endfor%}
</table>


{% endblock %}