{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<script>
    {% for msg in message %}alert('{{ msg }}{{item}}');
    {%endfor%}
</script>
    <a class="right" href="/logout/">Welcome {{user.first_name}}, Logout ?</a>
    <h3>Restaurant name : {{user.first_name}} </h3>
    <h3>Current Orders : </h3>
    <table style="width:70%" >
	<tr>
		<th>Food Item</th>
	    <th>Customer Name</th>
	    <th>Status</th>
	    <th>Quantity</th>
	    <th>Price</th> 
	    <th>Change Status</th>
	</tr>
	{% for c in orders %}
		<tr>
			<td>{{c.0}}</td>
		    <td>{{c.1}}</td>
		    <td>{{c.2}}</td>
		    <td>{{c.3}}</td>
		    <td>{{c.4}}</td> 
		    <td><a href="{% url 'change_status' pk=c.5 %}">Change Status</a></td>
		</tr>
	{%endfor%}
</table>
<h3>Add New Items</h3>
<form method="post" action=".">
        <table border="0">
            {{ form.as_table }}
        </table>
   	<input type="submit" value="Add Item" />
</form>

{% endblock %}